*.pyc
*__pycache__
*.pkl
*.c
*.cpp
*.so
.python-version
d3rlpy_data
test_data
runs
d3rlpy_logs
docs/_build
docs/d3rlpy*.rst
docs/modules.rst
docs/references/generated
coverage.xml
.coverage
.mypy_cache
.ipynb_checkpoints
build
dist
/.idea/
*.egg-info
/tutorials/video/
/tutorials/log/
/tutorials/datasets/
/tutorials/img/
/tests/lcb/log/
/tests/lcb/datasets/
/tests/lcb/img/
/tutorials/ds*.png
/tutorials/HPARAM_TUNING_*.png
/examples/cartpole/video/
/tutorials/trainperf_FrozenLake-v1_*png
/d3rlpy/lcb_cont/tf_models_v2/

examples/*/video
/tutorials/*/video
/tutorials/video/
/tutorials/img/
/tests/lcb/log/
/tutorials/datasets/
/log/
/tutorials/log/
/tutorials/*.png
/tests/lcb/datasets/
